<div class="container">
    <div class="columns is-centered">
        <div class="column is-one-third">
            <div class="block">
                <p>Давай почнемо з традиційного - твої особисті дані, які ми плануємо продати рекламодавцям.</p>
            </div>
            <div class="field">
                <label class="label" for="user_name">Як там тебе кажеш звуть?</label>
                <div class="control">
                    <input 
                        class="input" 
                        id="user_name" 
                        name="user_name" 
                        type="text" 
                        minlength="3" 
                        maxlength="50" 
                        pattern="[a-zA-Z]+"
                    />
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button" id="user_name_submit" type="button">Без проблем!</button>
                </div>
            </div>
        </div>
    </div>
</div>